[user]
	email = code@jall.me
	name = Jon Hall
[color]
	status = true
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta
[push]
	default = simple
	followTags = true
[pull]
	rebase = true
[alias]
	alias = config --get-regexp ^alias\\.
	amend = commit --amend
	back = checkout -
	br = branch
	co = commit -v
	ch = checkout
	hidden = !git ls-files -v | grep '^S'
	hide = update-index --skip-worktree
	fixup = "!sh -c '(git diff-files --quiet || (echo Unstaged changes, please commit or stash with --keep-index; exit 1)) && COMMIT=$(git rev-parse $1) && git commit --fixup=$COMMIT && EDITOR=true git rebase -i --autosquash $COMMIT~1' -"
	unhide = update-index --no-skip-worktree
	last = log -1 HEAD
	nuke = !git reset --hard && git clean -df
	pu = "!git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\""
	prune-local = !git branch --merged | tr -d \"*\" | grep -v \"dev\\|develop\\|staging\\|production\\|master\" | xargs -n1 git branch -d
	undo = checkout HEAD --
	unstage = reset HEAD --
	sp = !git stash -u && git pull --rebase && git stash pop
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig_local
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	program = /opt/homebrew/bin/gpg
[branch]
	sort = -committerdate
[fetch]
	prune = true
[rebase]
	autostash = true
[merge]
	conflictStyle = zdiff3
[interactive]
	diffFilter = delta
[diff]
	algorithm = histogram
