# Make tab autocomplete regardless of filename case
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Allow iterating through autocomplete matches with tab key.
TAB: menu-complete
