# Improved ls commands.
alias ls='ls -aG'
alias ll='ls -ahlFG'

# Git.
alias s="git status --short --branch"
alias d="git diff"
alias dcd="git diff --cached"
alias log="git log --oneline"

# Python.
alias py='python3'

# Symfony.
alias sym="app/console"
