# Add timestamps to command history
export HISTTIMEFORMAT="%F %T "

# Add some colour to grep by default
export GREP_OPTIONS='--color=auto'

# Behat needs this to debug.
export XDEBUG_CONFIG="idekey=PHPSTORM"

export GOPATH="${HOME}/Personal/go"

# GPG requires this to prompt for signing correctly, e.g. when signing git commits
export GPG_TTY=$(tty)

# Directory
export WORK_DIR="${HOME}/Work"

# Enable '**' recursive wildcards in bash.
# Doesn't take effect for subshells though :/
shopt -s globstar
