# Generates random alphanumeric string, suitable for passwords etc.
# Optional argument for length of string; defaults to 24.
random() {
    base64 /dev/urandom | tr -dc '[:alnum:]' | fold -w "${1:-24}" | head -n 1
}

# Check if a file is executable
is-executable() {
  local BIN=$(command -v "$1" 2>/dev/null)
  if [[ ! $BIN == "" && -x $BIN ]]; then true; else false; fi
}
